@charset "UTF-8";

/*
paleta de cores
azul principal: #1976D2
laranja destaque: #F57C00
branco
azul escuro: #0D47A1
cinza claro: #F5F7FA


*/

:root {
    --cor0:#1976D2;
    --cor1:#F57C00;
    --cor3:white;
    --cor4:#0D47A1;
    --cor5:#F5F7FA;

}



* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body, html { 
     background-color:var(--cor5);
     height: 100vh;
     width: 100vw;


}

main {
    position: relative;
    height: 100vh;
    width:100vw;

}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color:white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.450);

    transition: width 1s, height 1s;
    


}
section#login > div#imagem {
    display: block;
    background: var(--cor4) url(../imagem/pexels-kindelmedia-8487402.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;

}
section#login > div#formulário {
    display: block;
    padding: 10px;

}